<div id="<%= dom_id event %>">
  <p>
    <strong>ユーザー:</strong>
    <%= event.user_id %>
  </p>

  <p>
    <strong>イベント名:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>内容:</strong>
    <%= event.body %>
  </p>

  <% if event.avatar? %>
    <p>
      <strong>Avatar:</strong>
      <%= image_tag event.avatar.url %>
    </p>
  <% end %>>

</div>
