<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "このイベントを編集する", edit_event_path(@event) %> |
  <%= link_to "戻る", events_path %>

  <%= button_to "このイベントを消す", @event, method: :delete %>
</div>
