<p style="color: green"><%= notice %></p>

<%= render @event %>
  <% if @event.user == current_user %>
    <td><%= link_to "このイベントを編集する", edit_event_path(@event) %> |</td>
    <td><%= link_to "戻る", events_path %></td>
  <% else %>
    <td></td>
    <td><%= link_to "戻る", events_path %></td>
  <% end %>

