<% user_reservations = @reservations.select { |reservation| reservation.user_id == current_user.id} %> 
  <% if user_reservations.any? %> #絶対この2行htmlで書くところじゃない。
   <%= month_calendar do |date| %>
    <%= date %>
      <% user_reservations.each do |reservation| %>
        <% if date == reservation.date && date %>
          <p>
            <%= simple_format('予約日') %>
          </p>
          <p>
            <%= simple_format(reservation.note) %>
         </p>

          <%= link_to '編集', edit_reservation_path(reservation) %>
  
          <%= button_to '削除', reservation, method: :delete, data: { confirm: '本当に削除しますか？' } %>
      <% end %>
    <% end %>
  <% end %> 
<% end %>